<%- include('partials/_header') %>

 <h1 class="main-page">Welcome to ALIBAZON</h1>

 <div>
    <% if(typeof alert != 'undefined') { %>
        <div>
            <h2><%= alert %></h2>
        </div>
    <% } %>
</div>

<%- include('partials/_footer') %>