<%- include('partials/_header') %>

 <div class="result">
    <% if(typeof alert != 'undefined') { %>
        <div>
            <h2><%= alert %></h2>
        </div>
    <% } %>
</div>

<%- include('partials/_footer') %>