.search-container{
    margin:50px
}

.search-header{
    text-align: center;
    background-color: slategray;
}

.search-name{
    width: 200px;
}

.search-img{
    margin-left: 10px;
    margin-top: 3px;
}

.search-category{
    width: 200px;
}

.search-link>a{
    text-decoration: none;
    color: black;
}

.search-link{
    margin-right: 10px;
}

.search-product{
    border-radius: 3px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px;
    background-color: slategray;
}

.product-preview{
    display: none;
}

.load-btn{
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    margin-top: 10px;
    margin-left: 850px;
}
